<div class="row">
  <div class="col-md-6 offset-md-3">

    <div class="form-box">
      <h1 class="text-center"> Complete Your Profile To Continue </h1>

      <div *ngIf="!profileCompletionFormGroup.valid && submitClicked" class="alert alert-danger">Some of the information entered are wrong or missing, please enter them in the correct form</div>
      
      <form [formGroup]="profileCompletionFormGroup" (submit)="onSubmit()" novalidate>
        
        <!--photoUrl-->
        <div class="form-group photourl">
          <label for="photourl"> Your Photo URL </label>
          <input formControlName="photoUrlCtrl" type="text" class="form-control" id="photourl" placeholder="(optional) Photo Url...">
        </div>

        <!--aboutUser-->
        <div class="form-group">
          <label for="aboutuser"> Your Profile Header </label>
          <!--<input formControlName="aboutUserCtrl" type="text" class="form-control" id="aboutuser" placeholder="About you..." required>-->
          <textarea formControlName="aboutUserCtrl" rows="5" class="form-control" id="aboutuser" placeholder="About you..." required></textarea>

          <div class="Errors">
            <div *ngIf="profileCompletionFormGroup.controls['aboutUserCtrl'].errors?.required && profileCompletionFormGroup.controls['aboutUserCtrl'].touched" class="alert alert-danger">This field is required</div>
          </div>
        </div>

        <input type="submit" class="btn btn-primary btn-block submit-button" value="Submit">

      </form>

    </div>

  </div>
</div>