.navbar-brand
{
    font-size: 30px;
}

.nav-link
{
    font-size: 17px;
}

.navbar-toggler-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50,50,50, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; 
}

.nav-searchinput
{
    width: 400px;
    height: 38px;
    background-image:url(https://media.giphy.com/media/5nsgF2dx0bcJI6GlgG/giphy.gif);
    background-repeat:no-repeat;
    background-position:5px;
    padding-left:40px;
    /*border-radius: 3px;*/
    border-color: rgb(red, green, blue);
    opacity: .8;
}

.navb
{
    background-color: rgb(249, 249, 249) !important;
    border-top: 1px solid rgb(199, 199, 199) !important;
    border-bottom: 1.3px solid rgb(205, 205, 205) !important;
    padding: 2px !important;
    /*box-shadow: 0px 0px 4px 0px rgb(190, 190, 190);*/
    display: block;
    z-index: 1;
}

.nav-brand
{
    color: rgb(105, 105, 105) !important;
    opacity: .3;
    font-family: sans-serif !important;
    font-variant: Small-Caps !important;
    font-size: 40px;
    /*margin-left: -50px;*/
}

.nav-links
{
    margin-left: 10px;
}

.nav-links a
{
    color: rgb(73, 197, 182) !important;
    font-weight: 500;
    font-family: Arial !important;
    text-transform: uppercase;
    font-size: 18px;

    padding: 30px 10px 10px 10px;
    margin-top: -28px;
    margin-bottom: -5px;
    margin-right: 10px;
}

.nav-links a:hover
{
    color: rgb(207, 207, 207) !important;
    transition: .35s ease !important;
}

.nav-searchbutton
{
    color: rgb(73, 197, 182) !important;
    font-weight: 500;
    font-size: 17px;
}

.login-logout
{
    color: rgb(73, 197, 182) !important;
    font-weight: 500;
    font-family: Arial !important;
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
}

.login-logout:hover
{
    color: rgb(207, 207, 207) !important;
    transition: .35s ease !important;
}

.auto-complete
{
    position: relative; 
    z-index: 2;
}

.auto-complete-menu-text
{
    color: rgb(73, 197, 182) !important;
    font-size: 18px;
}

.floating-button
{
    float: right;
    top: 10%;
    right: 1%;
    opacity: 0.8;
}

ngc-float-button /deep/ .content 
{
    background: rgb(109, 167, 255);
}

ngc-float-button /deep/ .content 
{
    margin-right: 50px;
    font-size: 15px;
    padding-bottom: 30px;
    text-transform: capitalize;
}
  

ngc-float-button /deep/  
{
    color: rgb(91, 189, 206);
}


@media screen and (max-width: 991px) 
{
    .active-link
    {
        transition: 2s ease !important; 
    }  
    
    .nav-searchinput
    {
        width: 90%;
        margin-left: 13px;
    }

    .nav-searchbutton
    {
        margin-left: 13px;
        margin-top: 7px;
    }

    .navb
    {
        margin-right: -20px;
    }     
}

@media screen and (min-width: 991px) 
{
    .active-link
    {
        transition: 1s ease !important;    
        background-color: rgb(247, 247, 247);
        -webkit-box-shadow: 0 4px 4px -1.6px rgb(173, 173, 173);
        -moz-box-shadow: 0 4px 4px -1.6px rgb(173, 173, 173);
        box-shadow: 0 4px 4px -1.6px rgb(173, 173, 173);
    }
}