<!--detect-scroll (onScroll)="handleScroll($event) add to element(tag) to detect its scroll status-->

<nav class="{{navState}} navb" role="navigation">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <a class="navbar-brand nav-brand" href="#" routerLink="/">RECIPE</a>

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-links">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" href="#" routerLink="/allrecipes">All Recipes</a>
        </li>

        <li class="nav-item">
          <div *ngIf="isLoggedIn">
            <a class="nav-link" routerLinkActive="active-link" href="#" routerLink="/myrecipes">My Recipes</a>
          </div>
        </li>

      </ul>
      
      <form [formGroup]="formGroup" class="form-inline my-2 my-lg-0">
        <div>
          <input type="text" class="form-control mr-sm-2 nav-searchinput" formControlName="formCtrl" [matAutocomplete]="auto" placeholder="Search Recipes..">
        </div>
        <button (click)="onSearch()" class="btn btn-light nav-searchbutton" type="submit">Search</button>
      </form>
      
      <mat-autocomplete #auto="matAutocomplete" class="auto-complete">
        <mat-option *ngFor="let option of options" [value]="option">
          <h6 class="auto-complete-menu-text">{{ option }}</h6>
        </mat-option>
      </mat-autocomplete>
      
      <div *ngIf="isLoggedIn">
        <a (click)="onLogout()" routerLink="/" href="#" class="login-logout">Logout</a>
      </div>
      
      <div *ngIf="!isLoggedIn">
          <a routerLink="/login" href="#" class="login-logout">Login or Register</a>
      </div>

      <div *ngIf="isLoggedIn">
        <ngc-float-button class="floating-button" icon="face" direction="bottom" [open]="closed" color="white">
          <ngc-float-item-button (click)="open(content)" icon="control_point" content="Add Recipe"></ngc-float-item-button>
          <ngc-float-item-button icon="note_add" content="Request Recipe"></ngc-float-item-button>
          <ngc-float-item-button icon="settings" content="Settings"></ngc-float-item-button>
        </ngc-float-button>
      </div>

    </div>
    
  </div>
</nav>






<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Add Recipe</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="recipeAddFormGroup" (submit)="onRecipeSubmit()" class="form-group" novalidate>
      <div *ngIf="!recipeAddFormGroup.valid && submitClicked" class="alert alert-danger"> Some of the entered data are invalid or uncomplete, please correct it before submitting. </div>
      

      <label for="text" class="form-labels">Recipe Name:</label>
      <input formControlName="recipeNameCtrl" type="text" class="form-control" minlength="2" maxlength="50" required>

      <div class="Errors">
        <div *ngIf="recipeAddFormGroup.controls['recipeNameCtrl'].errors?.required  && recipeAddFormGroup.controls['recipeNameCtrl'].touched" class="alert alert-danger"> A Recipe name is required </div>
        <div *ngIf="recipeAddFormGroup.controls['recipeNameCtrl'].errors?.minlength && recipeAddFormGroup.controls['recipeNameCtrl'].touched" class="alert alert-danger"> Recipe name should be at least 2 characters </div>
      </div>
      
      

      <label for="text" class="form-labels">Recipe Description:</label>
      <input formControlName="recipeDescriptionCtrl" type="text" class="form-control"  minlength="3">

      <div class="Errors">
        <div *ngIf="recipeAddFormGroup.controls['recipeDescriptionCtrl'].errors?.minlength && recipeAddFormGroup.controls['recipeDescriptionCtrl'].touched" class="alert alert-danger"> Recipe description should be at least 3 characters </div>
      </div>



      <label for="text" class="form-labels">Recipe Image URL: </label>
      <input formControlName="recipeImageUrlCtrl" [(ngModel)]="formImageSource" name="formImageSource" type="text" class="form-control" required>

      <div class="Errors">
        <div *ngIf="recipeAddFormGroup.controls['recipeImageUrlCtrl'].errors?.required  && recipeAddFormGroup.controls['recipeImageUrlCtrl'].touched" class="alert alert-danger"> A Recipe image URL is required </div>
        <div *ngIf="imageUrlError && recipeAddFormGroup.controls['recipeImageUrlCtrl'].touched" class="alert alert-danger"> Invalid Image URL </div>
      </div>
      
      <img *ngIf="formImageSource" [src]="formImageSource" (error)="onImageUrlError()" (load)="onNoImageUrlError()" style="max-height:400px; max-width:200px;" class="recipe-image">

      

      <div class="recipe-ingredients">

        <div class="ingredient">
            <label for="text">Ingredient</label>
            <input formControlName="anIngredientCtrl" type="text" class="form-control">
        </div>
        <div class="amount">
            <label for="text">Amount</label>
            <input formControlName="anIngredientAmountCtrl" type="text" class="form-control">
        </div>

      </div>

      <!--
      <div class="the-add-button">
        <input type="button" (click)="addIngredient()" value="Add Ingredient" id="add-button" class="btn btn-primary">
      </div>
      -->
      
      <div *ngIf="recipeIngredientsArr.length > 0" class="ingredients-list">
        <ul class="list-group">
          <li *ngFor="let ingredient of recipeIngredientsArr" class="list-group-item">
            {{ingredient.name}}
            <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span> 
          </li>
        </ul>
      </div>


      <div class="modal-footer">
        <input type="button" (click)="addIngredient()" value="Add Ingredient" id="add-button" class="btn btn-primary">
        <input type="submit" value="Submit Recipe" class="btn btn-primary">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>


    </form>
  </div>

</ng-template>