<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark navb" [class.navb-input-focused]="navInputFocused" role="navigation">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <a class="navbar-brand nav-brand" href="#" routerLink="/">RECIPE</a>

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-links">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" href="#" routerLink="/allrecipes">All Recipes</a>
        </li>

        <li class="nav-item">
          <div *ngIf="isLoggedIn">
            <a class="nav-link" routerLinkActive="active-link" href="#" routerLink="/myrecipes">
              
              <div style="display: inline;"> 
                Notifications 
                <!--
                <span (click)="onShowRecipeDetails()" href="javascript:void(0)" class="material-icons" style="color:rgb(177, 177, 177); font-size: 23px; position:absolute; top:30%; left:41.5%;">notifications</span>  
                -->
                <!-- Add pop(down) menu -->
              </div>
              
            </a>
          </div>
        </li>
      </ul>
      
      <form [formGroup]="formGroup" class="form-inline my-2 my-lg-0">
        <div>
          <input (focus)="onNavInputFocus()" (blur)="onNavInputBlur()" type="text" class="form-control mr-sm-2 nav-searchinput" formControlName="formCtrl" [matAutocomplete]="auto" placeholder="Search Recipes..">
        </div>
        <button (click)="onSearch()" class="btn btn-light nav-searchbutton" type="submit">Search</button>
      </form>
      
      <mat-autocomplete #auto="matAutocomplete" class="auto-complete">
        <mat-option *ngFor="let option of options" [value]="option">
          <h6 class="auto-complete-menu-text">{{ option }}</h6>
        </mat-option>
      </mat-autocomplete>
      
      <div *ngIf="isLoggedIn">
        <a (click)="onLogout()" routerLink="/" href="#" class="login-logout">Logout</a>
      </div>
      
      <div *ngIf="!isLoggedIn">
          <a routerLink="/login" href="#" class="login-logout">Login or Register</a>
      </div>

      <div *ngIf="isLoggedIn">
        <ngc-float-button class="floating-button" icon="account_circle" direction="bottom" [open]="closed" color="white">
          <ngc-float-item-button (click)="modal()" icon="add" content="Add Recipe"></ngc-float-item-button>
          <ngc-float-item-button (click)="redirectToProfile()" icon="face" content="My Profile"></ngc-float-item-button>
          <ngc-float-item-button icon="settings" content="Settings"></ngc-float-item-button>
        </ngc-float-button>
      </div>

    </div>
    
  </div>
</nav>

<app-recipe-modal *ngIf="showRecipeModal" (modalCloseEventEmitter)="getModalState($event)"></app-recipe-modal>