
<div class="showcase">  

  <div class="logoAndBar">
    <h1>RECIPE</h1>
  </div>

    
  <div class="secondContents">
    <div class="midText">
      <h1> Start adding and sharing your own recipes </h1>
    </div>

    <div class="midButtons">
      <button type="button" (click)="open(content)">Add Recipe</button>
    </div>
  </div>
   
</div>




<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Add Recipe</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form class="form-group" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div *ngIf="!formValid" class="alert alert-danger"> Some of the entered data are invalid or uncomplete, please correct it before submitting. </div>
      
      <label for="text" class="form-labels">Recipe Name:</label>
      <input type="text" class="form-control" [(ngModel)]="formName" name="formName" #recipeName="ngModel" minlength="2" required>
      <div  *ngIf="recipeName.errors?.required && recipeName.touched" class="alert alert-danger"> A Recipe name is required </div>
      <div  *ngIf="recipeName.errors?.minlength && recipeName.touched" class="alert alert-danger"> Recipe name should be at least 2 characters </div>

      <label for="text" class="form-labels">Recipe Description:</label>
      <input type="text" class="form-control" [(ngModel)]="formDescription" name="formDescription" #recipeDescription="ngModel" minlength="3">
      <div  *ngIf="recipeDescription.errors?.minlength && recipeDescription.touched" class="alert alert-danger"> Recipe description should be at least 3 characters </div>

      <label for="text" class="form-labels">Recipe Image URL: </label>
      <input type="text" class="form-control" [(ngModel)]="formImageSource" name="formImageSource" #recipeImageURL="ngModel" required>
      <div *ngIf="recipeImageURL.errors?.required && recipeImageURL.touched" class="alert alert-danger"> A Recipe image URL is required </div>
      <div *ngIf="imageUrlError && recipeImageURL.touched" class="alert alert-danger"> Invalid Image URL </div>
      <img [src]="formImageSource" (error)="updateUrl()" (load)="onNoImageUrlError()" style="max-height:400px; max-width:200px;" class="recipe-image">

      

      <div class="recipe-ingredients">

        <div class="ingredient">
            <label for="text">Ingredient</label>
            <input type="text" class="form-control" [(ngModel)]="formIngredientName" name="formIngredientName">
        </div>
        <div class="amount">
            <label for="text">Amount</label>
            <input type="text" class="form-control" [(ngModel)]="formIngredientAmount" name="formIngredientAmount">
        </div>

      </div>
      <input type="button" (click)="addIngredient()" value="Add" id="add-button" class="btn btn-primary">

      
      <div *ngIf="Ingredients">
        <ul class="list-group">
          <li *ngFor="let anIngredient of Ingredients" class="list-group-item">
            {{anIngredient.name}}
            <span class="badge badge-primary badge-pill">{{anIngredient.amount}}</span> 
          </li>
        </ul>
      </div>


      <div class="modal-footer">
        <input type="submit" value="Submit Recipe" class="btn btn-primary">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>


    </form>
  </div>

</ng-template>

