
<div class="showcase">  

  <div class="logoAndBar">
    <h1>RECIPE</h1>
  </div>

    
  <div class="secondContents">
    <div class="midText">
      <h1> Start adding and sharing your own recipes </h1>
    </div>

    <div class="midButtons">
      <button type="button" (click)="open(content)">Add Recipe</button>
    </div>
  </div>
   
</div>




<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Add Recipe</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form class="form-group">

      <label for="text">Recipe Name:</label>
      <input type="text" class="form-control" [(ngModel)]="formName" name="formName">

      <label for="text">Recipe Description:</label>
      <input type="text" class="form-control" [(ngModel)]="formDescription" name="formDescription">

      <label for="text">Recipe Image URL</label>
      <input type="text" class="form-control" [(ngModel)]="formImageSource" name="formImageSource">

      <div class="modal-footer">
        <input type="button" (click)="submitRecipe(); c('Close click')" value="Submit Recipe" class="btn btn-primary">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>

    </form>
  </div>

</ng-template>

