.showcase
{
    background-image: url('../../../assets/Header09.jpg');
    height: 100vh;

    background-size:cover;
    background-position: center; 
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../../assets/Header09.jpg);
    background-attachment: fixed; 

    position: relative;
}


  


body.modal-open /* Prevent the right padding when open */
{
    width:100% !important;
    padding-right:0 !important;
    overflow-y:scroll !important;
    /*position:fixed !important;
    overflow: visible !important;*/
    overflow: auto !important;
    
}


.modal /* Center this shit */
{
  padding-top: 150px;
}


.logoAndBar
{
    margin-bottom: 180px;
    margin-left: 10%;
}


.logoAndBar h1
{
    color: #ffffff;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 64px;
    font-weight: normal;
    /*text-align: center;*/
    padding-top: 20px;
}


.secondContents
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.midText
{
    color: #ffffff;
}



.midText h1
{
    font-size: 55px;
    font-family: "Century Gothic";
}


.midButtons
{
    margin-top: 35px;
}


.midButtons button
{
    font-size: 25px;
    /*font-weight: bold;*/
    color: #ffffff;

    background-color: Transparent;

    border-style: solid;
    border-width: 1px;

    padding: 13px 18px;
    margin-right: 21px;
    border-radius: 2px;
}


.midButtons button:hover
{
    background-color: rgb(66, 66, 66);
    border-color: rgb(148, 148, 148);
    cursor: pointer;
}