
<section id="showcase">
    <div class="container">

      <div class="logoAndBar">
        <h1>RECIPE</h1>
      </div>

      <div class="secondContents">
      <div class="midText">
          <h2>A website for cooking lovers</h2>
          <br>
          <p> Start adding and sharing your own recipes now ! </p>
      </div>

      <div class="midButtons">
          <button type="button">Add Recipe</button>
          <button type="button">Login</button>
      </div>
      </div>

    </div>
</section>


