
<div class="recipe">

  <img src="{{recipeImageSource}}" style="max-height:1366px; max-width:750px;" alt="Recipe Large Image" class="recipe-image">


  <div class="recipe-name">
    <p> {{recipeName}} </p>
  </div> 


  <div>
    <p class="recipe-text"> {{recipeDescription}} </p>
  </div>


  <div class="container">

    <div class="ingredients-list">
      <h2 class="ingredients-list-header"> Ingredients list: </h2>
      <ul class="list-group">
        <li *ngFor="let ingredient of Ingredients" id="ingredient" class="list-group-item d-flex justify-content-between align-items-center"> 
          {{ingredient.name}} 
          <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span> 
        </li>
      </ul>
    </div>

    <br>

    <div class="recipe-upvotes">
      <p class="upvote-text"> Upvote </p>
      <span class="upvote-button"></span>
      <p class="upvote-number"> {{recipeUpvotes}} </p> 
    </div>
    
  </div>


</div>