@media screen and (max-width: 991px) 
{
    .recipe img
    {
        padding: 0px 5px;
        margin-top: 10px;
    }

    .list
    {
        margin-top: 30px !important;
        margin-bottom: 20px !important;
        padding: 0px 5px 0px 5px !important;
    }

    .ingredients-list-header
    {
        padding-left: 10px;
    }

}

#recipe-info-text
{
    font-weight: bold; 
    color:rgb(184, 184, 184);
}

#tip-text
{
    font-weight: bold;
    color: rgb(112, 199, 195);
    margin-top: 10px;
    margin-left: 10px;
    display: inline-flex; 
    vertical-align: middle;
}

.maker-info
{
    position: absolute;
    left: 0%;
    bottom: 11% !important;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 13px 5px 13px 5px;
}

.maker-photo
{
    margin-left: 20px;
    margin-top: 20px;
    margin: 5px 10px;
    border-radius: 50%;
    float: left;
    width: 80px;
    height: 80px;
}

.maker-link
{
    color: rgb(226, 226, 226);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

#maker-text
{
    position: relative;
    float: right;
    top:3%;
    left:3%;
    margin-top: 23px;
    margin-right: 20px;
}

.maker-buttons
{
    position: relative;
    top: 80%;
}

.recipe
{
    border: 8px solid rgb(240, 240, 240);
    background-color: white;
    margin-bottom: 20px;
}

.recipe-image
{
    display: block;

    border-radius: 7px;

    margin-bottom: 35px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* resizing with window */
    width: 100%;
    height: auto;
}

.recipe-text
{
    font-size: 23px;

    text-align: center;
    padding-left: 10px;
    margin-bottom: 30px;
}

.recipe-name
{
    color: rgb(73, 197, 182);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 35px;
}

.list
{
    margin-top: 130px;
    margin-bottom: 10px;
    padding: 0px 30px 0px 30px;
}


.ingredients-list-header
{
    margin-bottom: 20px;
}


#ingredient
{
    font-size: 20px;
    float: left;
}


/*UPVOTING*/
.upvote-buttons
{
    font-size: 20px;
    color: #9b9b9b;

    background-color: Transparent;

    border-color: transparent;
    border-style: solid;
    border-width: 1px;

    padding: 13px 18px;
    border-radius: 30px;

    margin-bottom: 20px;
}

.upvote-buttons:hover
{
    background-color: rgba(218, 218, 218, 0.3);
}

.upvote-buttons:focus
{
    outline: none;
}

.Upvote-Icon
{
    margin-right: 5px;
    color:rgb(150, 150, 150); 
    size: 30px;
}

.Upvote-Text
{
    color: rgb(129, 129, 129);
}

.unUpvote-Icon
{
    margin-right: 5px;
    color:rgb(96, 96, 255); 
    size: 30px;
}

.unUpvote-Text
{
    color: rgb(96, 96, 255);
}


.comments ul
{
    list-style-type: none;
}

.a-comment
{
    margin-bottom: 20px;
}

.a-comment hr
{
    width: 100%;
    margin-left: -20px;
}

.comment-form
{
    display: block-inline;
    margin-top: 40px;
    margin-bottom: 10px;
}

.comment-input
{
    height: 50px;
    width: 90%;

    /*border-radius: 35px;*/

    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 15px;
    margin-bottom: 30px;

   /* border-color: rgb(84, 158, 255);*/
}

.comment-form input:focus
{
    outline: none;
}


.comment-form img
{
    max-height: 80px;
    width: 60px;
    margin-top: 1px;
    /*border-radius: 100%;*/
    margin-right: 10px;
}

.comment-button
{
    margin-top: 0px;
    width: 25vh;
}

.show-more
{
    display: block; 
    text-align: center;
    margin-right: 10%;
}

::-webkit-scrollbar 
{ 
    display: none; 
}

.recipe-card
{
    border-top-right-radius: 1%;
    border-top-left-radius: 1%;
    margin-bottom: -30px;
    width: 150vh !important;
    right: -16% !important;
    position: fixed;   
    height: 90vh; 
    overflow-y: scroll;
}

.close
{
    position: relative;
    right:2%;
    top:2%;
    color: rgb(153, 153, 153);   
}

.recipe-card-image
{
    background-size: cover;
    background-attachment: fixed;
    background-position: center top; 
    height: 80vh;
}

@media screen and (min-width: 992px)
{
    .comment-form button
    {
        margin-left: 74px;
    }
}

@media screen and (max-width: 1024px)
{
    .maker-info
    {
        bottom: 17.5% !important;
    }

    .recipe-card
    {
        width: 100% !important;
        right: 0% !important;
        position: relative;  
        height: 97vh; 
        overflow-y: scroll;
    }

    .recipe-card-image
    {
        background-size: cover;
        background-attachment: unset;
        height: 80vh;
    }
}