
<div class="recipe">

  <img src="{{recipeImageSource}}" style="max-height:1366px; max-width:750px;" alt="Recipe Large Image" class="recipe-image">


  <div class="recipe-name">
    <p> {{recipeName}} </p>
  </div> 


  <div>
    <p class="recipe-text"> {{recipeDescription}} </p>
  </div>


  <div class="container">

    <!--
    <div class="ingredients-list">
      comment => I don't know why is this supposed to be here, but removing it ruins the ingredients list below.. 
    </div>
    -->

    <div class="list">
      <h2 class="ingredients-list-header"> Ingredients list: </h2>
      <ul class="list-group ggg">
        <li *ngFor="let ingredient of theIngredients" id="ingredient" class="list-group-item d-flex justify-content-between align-items-center"> 
          {{ingredient.name}}
          <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span> 
        </li>
      </ul>
    </div>

    <br>

    <div class="recipe-upvotes">
      <p class="upvote-text"> Upvote </p>
      <span class="upvote-button" (click)="upvoteRecipe()" [class.upvotedButton]="recipeUpvoted" [class.unUpvotedButton]="!recipeUpvoted"></span>
      <p class="upvote-number"> {{recipeUpvotes}} </p> 
    </div>
    
  </div>

  

  <div class="container">
    <h3> {{numberOfComments}} {{SingularOrPlural}} </h3> <!-- FOR THE SAKE OF THE ENGLISH GRAMMAR -->
    <hr>

    <div class="comments">
      <ul *ngIf="lotsOfComments">
        <li *ngFor="let comment of latestComments">
          <div class="a-comment">
            <app-comment [theComment]="comment"></app-comment>
            <hr>
          </div>
        </li>
        <a *ngIf="lotsOfComments" (click)="onShowMoreComments()" href="javascript:void(0)" class="show-more"> Show more </a>
      </ul>

      <ul *ngIf="!lotsOfComments">
        <li *ngFor="let comment of recipeComments">
          <div class="a-comment">
            <app-comment [theComment]="comment"></app-comment>
            <hr>
          </div>
        </li>
      </ul>
    
      
      <div class="add-comment">
        <form class="comment-form">
          <img src="../../../assets/Avatar.jpg" alt="Avatar Image">
          <input type="text" placeholder="Add a comment..." [(ngModel)]="commentFormInput" name="commentFormInput">
          <button (click)="addComment()" class="btn btn-success comment-button">Add Comment</button>
        </form>

      </div>
    </div>
  </div>


</div>

