
/*.recipe
{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.recipe img
{
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

    /* resizing with window 
    max-width: 100%;
    height: auto;
    width: auto\9; 
}

.recipe-name
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 21px;
}

.recipe-name a
{
    color: rgb(130, 130, 130);
}

.recipe-text
{
    text-align: left;
    padding-left: 10px;
}

.recipe-show-more
{
    text-align: center;
    margin-bottom: 10px;
}*/



/*@media screen and (max-width: 800px) 
{
    .name 
    {
        padding-top: 22% !important;
    }
}

.recipe
{
    position: relative;
    display: inline-block;
}

.image
{
    opacity: 1;
    width: 100%;
    display: block;
}

.overlay
{
    opacity: 0;
    position: absolute;
    background: #eee;
    transition: all .3s ease;
}

.name
{
    position: absolute;
    transition: all .5s ease;

    opacity: 0;
    width: 100%;
    color:white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 26%;
    font-family: sans-serif;

    /*top: 50%;
    /*left: 50%;
    transform: translate(-50%, -50%);
}

.name a
{
    color: white;
    text-decoration: none;
}

.recipe:hover .overlay
{
    width: 100%;
    opacity: .6;
}

.recipe:hover .name
{
    width: 100%;
    opacity: 1;
}

.overlayBottom
{
    left: 0;
    height: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
}

.recipe:hover .overlayBottom
{
    height: 100%;
}

.namebottom
{
    left: 0;
    height: 0;
    bottom: 0;
    width: 100%;
}

.recipe:hover .namebottom
{
    height: 100%;
}*/


/* RECIPE DESIGN 02 */
/*************************************************************************************************************************/

.wrapper
{
    position: relative;
}

.image
{
    opacity: 1;
    width: 100%;
    display: block;
    transition: .4s ease;
    filter: grayscale(60%);   
}

.recipe-imageAndName:hover .image 
{
    filter: grayscale(0%);
}

.name
{
    margin-top: 10px;
    font-family: Century Gothic;
    color: rgb(68, 68, 68);
    font-variant: Small-Caps;
    text-align: center;
}


.recipe-text
{
    text-align: left;
    font-size: 17px;
    padding: 0 10px 0 5px;
    font-family: Century Gothic;
    color: rgb(124, 124, 124);
}

.recipe-imageAndName
{
    text-align: center;
    text-decoration: none;
    font-size: 2em;
}


.recipe-show-more
{
    text-align: center;
    margin-bottom: 10px;
}
/*************************************************************************************************************************/