<div class="recipe">
   <div class="wrapper">  

      <a href="javascript:void(0)" (click)="setSelected()" class="recipe-imageAndName"> 
         <img src="{{imageSource}}" style="max-height:250px; max-width:500px;" class="image">
         <h2 class="name"> {{recipe.name}} </h2> 
         <hr>
         <p class="recipe-text"> {{recipe.description}} </p>
      </a>
      
      <div class="recipe-show-more">
         <a [hidden]="shortText" href="javascript:void(0)" (click)="showMore()">Show more</a>
      </div>

   </div>
</div>
