<!--
<div *ngIf="recipeSelected">
    <app-recipe-detail (selectedRecipe)="recipe" (selectedRecipeImgSrc)="imageSource"></app-recipe-detail>
</div>
-->

<!-- OLD RECIPE -->
<!--
<div class="recipe">

  <div>

    <div class="recipe-name">
      <a href="javascript:void(0)" (click)="getSelected()"> {{recipe.name}} </a>
    </div>

    
    <img src="{{imageSource}}" style="width:330px; height:300px" alt="Recipe Image" >

  </div>

  <div>
    <p class="recipe-text"> {{recipe.description}} </p>
  </div>

  <div class="recipe-show-more">
    <a [hidden]="shortText" href="javascript:void(0)" (click)="showMore()">Show more</a>
  </div>

</div>
-->



<!-- OLD RECIPE 02 -->
<!--
<div class="recipe">
  <img src="{{imageSource}}" style="max-height:275px; max-width:500px;" class="image" >
  <div class="overlay overlayBottom">
    
  </div>

  <div class="name namebottom">
      <a href="javascript:void(0)" (click)="getSelected()"> {{recipe.name}} </a>
  </div>
</div>
-->



<div class="recipe">
  <div class="wrapper">
    
    <a href="javascript:void(0)" (click)="getSelected()" class="recipe-imageAndName"> 
      <img src="{{imageSource}}" style="max-height:250px; max-width:500px;" class="image"> 
      <h2 class="name"> {{recipe.name}} </h2> 
      <hr>
      <p class="recipe-text"> {{recipe.description}} </p>
    </a>

    <!--<hr> I CANNOT DECIDE! -->
    
    <div class="recipe-show-more">
      <a [hidden]="shortText" href="javascript:void(0)" (click)="showMore()">Show more</a>
    </div>

  </div>
</div>



