
.recipe
{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.recipe img
{
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

    /* resizing with window */
    max-width: 100%;
    height: auto;
    width: auto\9; 
}

.recipe-text
{
    text-align: left;
    padding-left: 10px;
}

.recipe-name
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 21px;
}

.recipe-name a
{
    color: rgb(130, 130, 130);
}

.recipe-show-more
{
    text-align: center;
    margin-bottom: 10px;
}