
  <app-header></app-header>

  <app-navbar></app-navbar>


  <div class="first-image"></div>

  <div class="quote">
    <div class="container">
      <h1>"A recipe has no soul. You as the cook must bring soul to the recipe."</h1>
      <h3> -THOMAS KELLER </h3>
    </div>
  </div>

  <div class="second-image"></div>

  <br>
  
  <div class="top-recipes">
    <h3> Top Recipes </h3>
    <hr>
    <app-top-recipes></app-top-recipes>
    <!--<app-recipes></app-recipes>-->
  </div>


  <footer class="footer">
      <div class="container">
        <p> Muiz Mahdi </p>
        <p> Contact: Moezmahdy@gmail.com </p>
      </div>
  </footer>

  
