<div class="showcase">  

  <div class="logoAndBar">
    <h1>RECIPE</h1>
  </div>

  <div class="secondContents">
    <div class="midText">
      <h1> Start adding and sharing your own recipes </h1>
    </div>

    <div class="midButtons">
      <button type="button" (click)="onHeaderButtonClick()">Share you recipes</button>
    </div>
  </div>
    
</div>

<app-navbar></app-navbar>
  
<div class="quote">
  <div class="container">
    <h1>"A recipe has no soul. You as the cook must bring soul to the recipe."</h1>
    <h3> -THOMAS KELLER </h3>
  </div>
</div>

<div class="second-image"></div>

<br>
  
<div class="top-recipes">
  <hr>
  <h3> MOST UPVOTED RECIPES </h3>
  <hr>
  <!--
  <app-top-recipes></app-top-recipes>
  -->
  <hr>
</div>

<div class="third-image"></div>

<div class="extra-text">
  <hr>
  <br>
    <div class="extra-text-box">
      <h1> Start sharing your recipes with the world now ! </h1>
      <br>
      <h3> Add, share, and comment on recipes. </h3>
      <h3> Manage your own recipes on My Recipes. </h3>
      <h3> View Recipes on All Recipes. </h3>
    </div>
  <br>
  <hr>
</div>

<div class="fourth-image"></div>

<div class="project-info">
  <div class="container">
    <ul>
      <li>
        <h1>Project Info</h1>
        <br>
      </li>
      <li>
        <h3> Frontend </h3>
        <hr>
        <p> Angular - Bootstrap </p>
      </li>
      <li>
        <h3> Backend </h3>
        <hr>
        <p> Firebase </p>
      </li>
    </ul>
  </div>
</div>

<footer class="footer">
    <div class="container">
      <p> Muiz Mahdi </p>
      <p> Moezmahdy@gmail.com </p>
    </div>
</footer>