<div class="showcase">  

   <div class="logoAndBar">
      <h1>RECIPE</h1>
   </div>

   <div class="secondContents">
      <h1 class="midText"> Start adding and sharing your own recipes </h1>
      <button class="midButton" type="button" (click)="onHeaderButtonClick()">Share your recipes</button>
   </div>
    
</div>

<app-navbar></app-navbar>

<div class="second-image"></div>

<div class="extra-text">
  <hr><br>
   <div class="text-box">
      <p class="quote">
         "A recipe has no soul. You as the cook must bring soul to the recipe."
      </p>
      <h3> -THOMAS KELLER </h3>
   </div>
  <br><hr>
</div>

<div class="third-image"></div>

<div class="extra-text">
  <hr><br>
  <div class="text-box">
      <h1> Start sharing your recipes with the world now ! </h1><br>
      <ul>
         <li>Add, share, and comment on recipes.</li>
         <li>Manage your own recipes on My Recipes.</li>
         <li>View Recipes on All Recipes.</li>
      </ul>
   </div>
  <br><hr>
</div>

<div class="fourth-image"></div>

<div class="project-info">
  <div class="container">
    <ul>
      <li>
        <h1>Project Info</h1><br>
      </li>
      <li>
        <h3> Frontend </h3>
        <hr>
        <p> Angular - Bootstrap </p>
      </li>
      <li>
        <h3> Backend </h3>
        <hr>
        <p> Firebase </p>
      </li>
    </ul>
  </div>
</div>

<footer class="footer">
   <div class="container">
      <p> Muizz Mahdy </p>
      <p> Muizzmahdy@gmail.com </p>
   </div>
</footer>
