@media screen and (max-width: 800px) 
{
    .row
    {
        padding-left: 1px;
    }

    .recipe-list li
    {
        margin-left: -14px;
    }
}

.row
{
    padding-top: 60px;
    background-color: white;
    border-top: 3px solid  rgb(240, 240, 240);
}

.recipe-list
{
    list-style: none;
    margin-bottom: 40px;
}

.recipe-list li
{
    margin-bottom: -6px;
    margin-right: -30px;
}

hr 
{
    display: block;
    height: 1px;
    border-top: 8px solid #ccc;
    opacity: .3;
}