.wrapper
{
    /*width: 400px;*/
    /*margin: 0 auto;*/
    position: relative;
}

.image
{
    opacity: 1;
    display: block;
    width: 100%;
    /*height: auto;*/
    transition: .5s ease;   
}

/*.content
{
    font-family: sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    text-transform: uppercase;
    font-size: 2vw;
    color: #fff;

    overflow: inherit;
}*/

.row li
{
    list-style-type: none;
    margin: 0 -15px;
}


.content h2
{
  font-size: 2.7vw;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h1
{
    font-size: 1.3vw;
}

.overlay
{
    opacity: 0;
}

.wrapper:hover img
{
    filter: brightness(50%);
}

.wrapper:hover .overlay
{
    opacity: 1;
}

hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.4px solid #ccc;
    padding: 0; 
}

.top-recipes-list
{
    margin-right: -50px;
}

@media screen and (max-width: 500px)
{
    .row li
    {
        margin-left: -40px;
    }
}


@media screen and (min-width: 500px) and (man-width: 900px)
{
    /* SOME THING IS WRONG WITH SCREENS WITH WIDTH BETWEEN 500px and 900px */ 
}