
<!-- RECIPE DETAIL -->
<div class="recipe">

  <img src="{{recipeImageSource}}" style="max-height:1366px; max-width:750px;" alt="Recipe Large Image" class="recipe-image">

  
  <div class="recipe-name">
    <p> {{recipeName}} </p>
  </div> 

  
  <div>
    <p class="recipe-text"> {{recipeDescription}} </p>
  </div>


  <div class="container">

    <div class="ingredients-list">
      <h2 class="ingredients-list-header"> Ingredients list: </h2>
      <ul id="names" class="list-group">
        <li *ngFor="let ingredient of theIngredients" id="ingredient" class="list-group-item d-flex justify-content-between align-items-center"> 
          {{ingredient.name}}
          <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span> 
        </li>
      </ul>
    </div>

    <br>

    <div class="recipe-upvotes">
      <p class="upvote-text"> Upvote </p>
      <span class="upvote-button" (click)="upvoteRecipe()" [class.upvotedButton]="recipeUpvoted" [class.unUpvotedButton]="!recipeUpvoted"></span>
      <p class="upvote-number"> {{recipeUpvotes}} </p> 
    </div>
    
  </div>
  
</div>


<!-- SIDE MENU -->
<div class="side-menu">
  <p> Views: </p>
  <p> Likes: </p>

  <div class="action-buttons">
    <button type="button" id="leftButton" class="btn btn-outline-dark btn-lg" (click)="open(content)">Edit Recipe</button>
    <br>
    <button type="button" id="rightButton" class="btn btn-outline-dark btn-lg" (click)="deleteRecipe()">Delete Recipe</button>
  </div>
</div>


<!-- MODAL -->
<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Edit Recipe</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <form class="form-group" novalidate #f="ngForm" (ngSubmit)="onSubmitEdits(f)">
  
      <label for="text">Edit Name:</label>
      <input type="text" class="form-control" [(ngModel)]="formName" name="formName">
  
      <label for="text">Edit Description:</label>
      <input type="text" class="form-control" [(ngModel)]="formDescription" name="formDescription">
  
      <label for="text" class="form-labels">Change Image URL</label>
      <input type="text" class="form-control" [(ngModel)]="formImageSource" name="formImageSource" #recipeImageURL="ngModel" required>
      <div *ngIf="recipeImageURL.errors?.required && recipeImageURL.touched" class="alert alert-danger"> A Recipe image URL is required </div>
      <div *ngIf="imageUrlError && recipeImageURL.touched" class="alert alert-danger"> Invalid Image URL </div>
      <img [src]="formImageSource" (error)="updateUrl()" (load)="onNoImageUrlError()" style="max-height:400px; max-width:200px;" class="recipe-image">

      <div class="recipe-ingredients">

        <div class="ingredient">
            <label for="text">Ingredient</label>
            <input type="text" class="form-control" [(ngModel)]="formIngredientName" name="formIngredientName">
        </div>
        <div class="amount">
            <label for="text">Amount</label>
            <input type="text" class="form-control" [(ngModel)]="formIngredientAmount" name="formIngredientAmount">
        </div>

      </div>
      <input type="button" (click)="addIngredient()" value="Add" id="add-button" class="btn btn-primary">

      
      <div *ngIf="Ingredients">
        <ul class="list-group">
          <li *ngFor="let anIngredient of Ingredients" class="list-group-item">
            {{anIngredient.name}}
            <span class="badge badge-primary badge-pill">{{anIngredient.amount}}</span> 
          </li>
        </ul>
      </div>

  
      <div class="modal-footer">
          <input type="submit" value="Submit Recipe" class="btn btn-primary">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
      
  
    </form>
  </div>
  
</ng-template>