<ng-template #content let-c="close" let-d="dismiss">


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- RECIPE DETAILS MODAL CONTENTS -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div *ngIf="!isEditingRecipe">

    <app-recipe-details-modal [selectedRecipe]="theSelectedRecipe" (modalCloseEventEmitter)="closeModal($event)"></app-recipe-details-modal>

    <div class="maker-buttons" *ngIf="isAuthenticatedUserRecipe">
      <button (click)="onRecipeEdit()" id="recipe-edit" class="btn btn-info">Edit</button>
      <button (click)="onRecipeDelete()" id="recipe-delete" class="btn btn-info">Delete</button>
    </div>
  </div>




  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- EDITING RECIPE MODAL CONTENTS -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div *ngIf="isEditingRecipe">
    <div class="modal-header">
      <h4 class="modal-title">{{modalTitle}}</h4>
    </div>

    <div class="modal-body">
      <form [formGroup]="recipeFormGroup" (submit)="onSubmit()" class="form-group" novalidate>
        <div *ngIf="recipeFormGroup.valid && submitClicked" class="alert alert-danger">Some of the information entered are wrong or missing, please enter them in the correct form</div>
      <!-- CONTENTS START-->

      <!--Name-->
        <label for="text" class="form-labels">Recipe Name:</label>
        <input formControlName="recipeNameCtrl" type="text" class="form-control" minlength="2" maxlength="50" placeholder="New recipe name" required>

        <div class="Errors">
          <div *ngIf="recipeFormGroup.controls['recipeNameCtrl'].errors?.required  && recipeFormGroup.controls['recipeNameCtrl'].touched" class="alert alert-danger"> A Recipe name is required </div>
          <div *ngIf="recipeFormGroup.controls['recipeNameCtrl'].errors?.minlength && recipeFormGroup.controls['recipeNameCtrl'].touched" class="alert alert-danger"> Recipe name should be at least 2 characters </div>
        </div>
      <!--Name-->


      <!--Description-->
        <label for="text" class="form-labels">Recipe Description:</label>
        <textarea formControlName="recipeDescriptionCtrl" rows="5" class="form-control" id="recipe-description" minlength="3"></textarea>    

        <div class="Errors">
          <div *ngIf="recipeFormGroup.controls['recipeDescriptionCtrl'].errors?.minlength && recipeFormGroup.controls['recipeDescriptionCtrl'].touched" class="alert alert-danger"> Recipe description should be at least 3 characters </div>
        </div>
      <!--Description-->


      <!--Image URL-->
        <label for="text" class="form-labels">Recipe Image URL: </label>
        <input formControlName="recipeImageUrlCtrl" [(ngModel)]="formImageSource" name="formImageSource" type="text" class="form-control" required>

        <div class="Errors">
          <div *ngIf="recipeFormGroup.controls['recipeImageUrlCtrl'].errors?.required  && recipeFormGroup.controls['recipeImageUrlCtrl'].touched" class="alert alert-danger"> A Recipe image URL is required </div>
          <div *ngIf="imageUrlError && recipeFormGroup.controls['recipeImageUrlCtrl'].touched" class="alert alert-danger"> Invalid Image URL </div>
        </div>

        <img *ngIf="formImageSource" [src]="formImageSource" (error)="onImageUrlError()" (load)="onNoImageUrlError()" style="max-height:500px; max-width:300px;" class="recipe-image">
      <!--Image URL-->


      <!--Ingredients-->
        <div class="recipe-ingredients">

          <div class="ingredient">
              <label for="text">Ingredient</label>
              <input formControlName="anIngredientCtrl" type="text" class="form-control">
          </div>

          <div class="amount">
              <label for="text">Amount</label>
              <input formControlName="anIngredientAmountCtrl" type="text" class="form-control">
          </div>

        </div>

        
        <input type="button" (click)="addIngredient()" value="Add Ingredient" id="add-button" class="btn btn-primary">
        
        <div *ngIf="recipeIngredientsArr.length > 0" class="ingredients-list">
          <ul class="list-group">
            <li *ngFor="let ingredient of recipeIngredientsArr" class="list-group-item">
              {{ingredient.name}}
              <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span> 
            </li>
          </ul>
        </div>

      </form>
    </div>

    <div class="modal-footer">
      <button (click)="onEditingCancel()" class="recipe-edit-button" class="btn btn-info">Cancel</button>
      <button (click)="onEditingSubmit()" class="recipe-edit-button" class="btn btn-info">Submit</button>
    </div>

  </div>
  
</ng-template>

